body {
    background-color: #003b4d;
}

h2{
    color: aliceblue;
    text-decoration: underline;
    
}

a{
    color: aliceblue;
    text-decoration: none;

}
p{
    color: aliceblue;
    
}
td{
    color: aliceblue;
}

table {
    border-color: #003b4d;
    border-collapse: collapse;
}

th {
    background-color: #04AA6D;
    color: white;
  }

tr:nth-child(even) {background-color: #00455a;}
tr:hover {background-color: rgba(0, 0, 0, 0.329);}